<template>
  <div class="home">
    <AppBar>
      <template #content-left> Meu Sistema </template>
      <template #content-right>
        <Button name="Oi oi oi" />
      </template>
    </AppBar>
    <div class="cards">
      <Card
        v-for="(product, index) in products"
        @clickcard="OpenModal"
        :key="index"
        :product="product"
      ></Card>
    </div>

    <b-modal v-model="isModal" :width="640" scroll="keep">
      <div class="card">
        <div class="card-content">
          <h2>{{product.name}}</h2>
          <p>{{product.price}}</p>
        </div>
      </div>
    </b-modal>

  </div>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import Button from "@/components/Button.vue";
import Card from "@/components/Card.vue";

import axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      product: {},
      products: [],
      isModal: false,
      showButton: false,
    };
  },
  components: {
    AppBar,
    Button,
    Card,
  },
  created() {
    this.GetProducts();
  },
  methods: {
    OpenModal(producto){
      this.product = producto
      this.isModal = true
    },
    GetProducts() {
      const url = "http://demo5803975.mockable.io/";
      axios.get(url).then((resp) => (this.products = resp.data));
    },
  },
};
</script>

<style>
.cards {
  margin: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
</style>