<template>
  <div class="app-bar">
   <div>
     <slot name="content-left" />
   </div>
   <div>
     <slot name="content-right" />
   </div>
  </div>
</template>

<script>
export default {
  name: 'AppBar',
}
</script>

<style scoped>
.app-bar {
  box-shadow: 0 2px 3px 0 rgba(16, 16, 16, 0.15);
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
