<template>
  <button class="button">
      {{ name }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    name: String
  }
}
</script>

<style scoped>
.button {
  background-color: #87f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
</style>
