<template>
  <div @click="CardClick">
    <h3>{{ product.name }}</h3>
    <p>{{ product.price }}</p>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    product: Object,
  },
  methods: {
    CardClick() {
      this.$emit("clickcard", this.product);
    },
  },
};
</script>

<style scoped>
div {
  box-shadow: 3px 4px 5px 3px rgba(16, 16, 16, 0.15);
  padding: 8px;
  cursor: pointer;
}
</style>