<template>
  <b-button
    :loading="loading"
    :size="size"
    rounded
    :expanded="expanded"
    type="is-success"
  >
    <slot></slot>
  </b-button>
</template>

<script>
export default {
  props: {
    size: { required: false, type: String },
    expanded: { required: false, type: String },
    loading: { required: false, type: Boolean, default: false }
  }
};
</script>

<style></style>
