<template>
    <div class="columns mt-5 is-vcentered">
        <div class="column">
            <div class="is-size-1 has-text-weight-bold is-family-nunito">
                Encontre aqui a<br />
                equipe perfeita para<br />
                seu projeto
            </div>
            </div>
            <div class="column">
            <img src="@/assets/image/background-right.png" />
        </div>
    </div>
</template>

<script>
    export default {
        props: {},
        name: "Content",
    };
</script>