<template>
  <div>
    <section>
      <b-modal v-model="openModal">
        <b-table
          v-if="boxers.length != 0"
          :data="boxers"
          ref="table"
          height="700px"
        >
          <b-table-column field="name" label="Nome" width="100" v-slot="props">
            {{ props.row.name }}
          </b-table-column>

          <b-table-column
            field="uuid"
            label="Detalhes"
            width="100"
            v-slot="props"
          >
            
            <p @click="showDetails( props.row )" class="detahes">
              Ver detalhes
            </p>
            
          </b-table-column>
        </b-table>
        <div class="empty" v-else>
          <p>Nenhum boxer encontrado!</p>
        </div>
      </b-modal>
    </section>
    <form>
      <div class="columns mt-5 box p-0 m-0 box-search">
        <div class="column">
          <b-field type="is-white">
            <b-input
              v-model="name"
              size="is-large"
              icon="search"
              placeholder="Procure por nome"
            >
            </b-input>
          </b-field>
        </div>

        <div class="column">
          <b-field type="is-white">
            <b-select
              v-model="boxerStack"
              placeholder="Stack"
              icon="user"
              size="is-large"
              expanded
            >
              <option selected :value="false">Selecione uma Stack</option>
              <option
                v-for="stack in stacks"
                :key="stack.uuid"
                :value="stack.uuid"
                >{{ stack.name }}</option
              >
            </b-select>
          </b-field>
        </div>

        <div class="column is-one-fifth">
          <Button
            :loading="loading"
            size="is-large"
            expanded="expanded"
            @click.native="getBoxers()"
            >Procurar</Button
          >
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Button from "./Button.vue";
import axios from "axios";

export default {
  data() {
    return {
      boxers: [],
      stacks: [""],
      name: "",
      boxerStack: false,
      openModal: false,
      defaultOpenedDetails: [1],
      showDetailIcon: true,
      loading: false,
      isStack: false
    };
  },
  name: "Form",
  components: {
    Button
  },

  async mounted() {
    await this.$store.dispatch("getStacks");
    this.stacks = this.$store.getters.stacks

  },

  methods: {

    async getBoxers() {
      this.loading = true;
      this.boxers = [];

      await axios
        .get("http://demo6105689.mockable.io/boxers")
        .then(({ data }) => {
          this.boxers = data;

          if (this.name) {
            this.boxers = this.boxers.filter(boxer =>
              boxer.name
                ?.toLowerCase()
                ?.match(new RegExp(this.name?.toLowerCase()))
            );
          }

          if (this.boxerStack) {
            this.boxers = this.boxers.filter(boxer =>
              boxer.stacks.some(stack => stack.uuid === this.boxerStack)
            );
          }

          this.openModal = true;
          this.loading = false;
        })
        .catch(error => {
          this.loading = false;
          console.log(error);
          alert("Não foi possível carregar os boxers.");
        });
    },

    showDetails ( boxer ) {
      this.$store.commit("setBoxer", boxer)
      this.$router.push('/details')
    }
  }
};
</script>

<style scoped>
.empty {
  font-size: 24px;
  border-radius: 10px;
  padding: 20px 0;
  text-align: center;
  background-color: white;
}

.detahes {
  cursor: pointer;
}
</style>
