<template>
  <b-navbar>
    <template #brand>
      <b-navbar-item class="is-family-nunito has-text-weight-black is-size-3">
        Chapter Lead
      </b-navbar-item>
    </template>

    <template #end>
      <b-navbar-item tag="div">
        <Button>
          <span class="is-family-nunito">
            entre em contato
          </span>
        </Button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import Button from "@/components/Button.vue";

export default {
  components: {
    Button
  }
};
</script>

<style></style>
