<template>
  <div id="app" class="container is-max-widescreen">
    <Navbar />
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
export default {
  name: "App",
  components: { Navbar }
};
</script>

<style>
body {
  background-image: url("/background.png");
  background-size: 100% 100%;
  height: 100vh;
}

.box-search {
  border-radius: 50px !important;
}

.is-family-nunito {
  font-family: "Nunito";
}

.has-text-weight-black {
  font-weight: 900;
}
</style>
