<template>
  <div>
    <b-loading :is-full-page="true" v-model="isLoading"></b-loading>
    <div v-if="!isLoading" class="content">
      <div class="is-size-1 has-text-weight-bold is-family-nunito">
        <p>{{ boxer.name }}</p>
      </div>
      <div class="info-contato is-family-nunito is-size-3">
        <p style="margin-right:100px">{{ boxer.email }}</p>
        <p style="margin-left:100px">
          <a
            class="link"
            target="_blank"
            :href="
              `https://api.whatsapp.com/send/?phone=+55${boxer.phone}&text&app_absent=0&lang=pt_br`
            "
          >
            <span>{{ MaskPhone(boxer.phone) }}</span>
          </a>
        </p>
      </div>
      <div class="stacks">
        <div v-for="stack in stacksBoxer" :key="stack.uuid">
          <b-tooltip :label="stack.name" type="is-dark">
            <img
              width="100px"
              height="200px"
              class="image-stack"
              :src="
                require(`../assets/stacks/${stack.name.replace(/\./g, '')}.png`)
              "
            />
          </b-tooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isLoading: false,
      id: "",
      stacks: "",
      boxer: "",
      stacksBoxer: ""
    };
  },

  async created() {
    this.boxer = this.$store.getters.boxerDetail
    this.isLoading = true;
    this.stacks = this.$store.getters.stacks
    this.getStackBoxer();
    this.isLoading = false;
  },

  methods: {

    getStackBoxer() {
      this.stacksBoxer = this.stacks.filter(item =>
        this.boxer.stacks.some(stack => stack.uuid === item.uuid)
      );
    },

    MaskPhone(phone) {
      return `(${phone.substr(0, 2)}) ${phone.substr(2, 5)}-${phone.substr(
        7,
        4
      )}`;
    }
  }
};
</script>

<style scoped>
.border {
  border: 1px solid black;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.info-contato {
  display: flex;
  margin-top: 40px;
}

.link {
  color: #4a4a4a !important;
}

.stacks {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.image-stack {
  margin: 0 20px;
}

.image-stack:hover {
  transform: scale(1.2);
}
</style>
