<template>
  <div>
    <Content />
    <Form />

    <div class="mt-6">
      <img src="@/assets/image/icons-framework.png" />
    </div>
  </div>
</template>

<script>
import Form from "../components/Form.vue";
import Content from "../components/Content.vue";

export default {
  components: {
    Form,
    Content
  }
};
</script>

<style></style>
